[user]
	email = michael.thessel@gmx.de
	name = Michael Thessel
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	co = checkout
	s = status
	ec = config --global -e
	up = !git pull --rebase $@ && git submodule update --init --recursive
	cob = checkout -b
	cm = !git add -A && git commit -m
	em = !nvim `git ls-files -m --other --exclude-standard`
	uo = !git checkout master && git pull official master && git push origin master
	lb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative



[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	excludesfile = ~/.gitignore
	filemode = false
	editor = vim
[credential]
	helper = cache --timeout=86400
[http]
	sslVerify = false
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
